body {
  margin: 0px;
  background-color: #eee !important;
}

/*Encabezado*/

.contenidoExterior {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Interior*/

.container {
  width: 100% !important;
  padding: 0px !important;
}

.contenidoInterior {
  background-color: white;
  padding-left: 100px;
  padding-top: 3px;
  padding-bottom: 40px;
}

.encabezadoTitulo2 {
  border-bottom: 1px solid #E2DDDD;
  margin-bottom: 15px;
  width: 95%;
}

.titulo2 {
  margin-bottom: 4px;
}

/*Formulario y su contenido*/

.marco_principal {
  border-style: none;
  background: #eee;
  padding-top: 15px;
  padding-left: 24px;
  padding-bottom: 4px;
  width: 360px;
}

.etiqueta {
  margin-bottom: 7px;
  font-weight: bold;
}

.datos {
  width: 305px;
  display: inline-block;
  height: 29px;
  margin: 0;
  padding: 0 8px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  border-radius: 1px;
}

.datos:hover {
    border: 1.5px solid #C3C2C2;
}

.botones_inferiores {
  margin-right: 30px;
  padding-top: 5px;
  margin-bottom: 15px;
}

.datos_avisos {
  margin-left: 2px;
  margin-top: 3px;
  color: #9E9898;
}
