/*Interior*/

.divContenido {
  height: 513px !important;
}

.divTituloContenido {
  font-size: 25px !important;
  font-size: 18px;
  font-weight: 400;
  text-align: -webkit-center;
}

#tabla_usuarios {
  margin-left: 95px;
  padding-right: 95px;
  margin-top: 30px;
  background-color: #fff;
  width: 90%;
}

/*Mensajes enviados a la página*/

#mensajes {
  margin-left: 95px;
  padding-right: 95px;
  width: 90%;
}

/*Iconos*/

.iconos_link {
  color: #2895F1;
}

.iconos_accion {
  color: #2895F1;
}
