@(usuario: Usuario)
@main("Detalle Usuario") {
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/detalleUsuario.css")">
  </head>

  <body>
    @if(usuario != null) {
      <div class="divCabecera">
        <h1>To-do List</h1>
      </div>

      <div class="divContenido">
        <div class="divTituloContenido">
          <h2 class="tituloContenido">Detalle usuario @{usuario.id}</h2>
        </div>

         <fieldset class="marco_principal">
           <p class="etiqueta">Login: </p>
           <h5 class="datos_u">@{usuario.login}</h5> </br>
           <p class="etiqueta">Nombre: </p>
           <h5 class="datos_u">@{usuario.nombre}</h5> </br>
           <p class="etiqueta">Apellidos: </p>
           <h5 class="datos_u">@{usuario.apellidos}</h5> </br>
           <p class="etiqueta">Correo electrónico: </p>
           <h5 class="datos_u">@{usuario.eMail}</h5> </br>
           <p class="etiqueta">Fecha de nacimiento: </p>
           @if(usuario.fechaNacimiento != null) {
             <h5 class="datos_u" id="fechausuario">@usuario.fechaNacimiento.format("dd-MM-yyyy")</h5>
           } else {
             <h5 class="datos_u" id="fechausuario"></h5>
           }

           <div class="botones_inferiores">
             <a class="btn btn-primary" href="@routes.Usuarios.editarUsuario({usuario.id})">Editar</a>
             <a class="btn btn-primary" style="float:right;margin-right:40px" href="@routes.Usuarios.listaUsuarios()">Volver</a>
           </div>
         </fieldset>
       </div>
      }

  </body>
}
