@(usuario: Usuario)
@main("Detalle Usuario") {
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/detalleUsuario.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/stylesheets/bootstrap.min.css")">
  </head>

  <body>
    @if(usuario != null) {
      <div class="contenidoExterior">
        <h1>Detalle usuario @{usuario.id}</h1>
      </div>

      <div class="contenidoInterior">
        <div class="encabezadoTitulo2">
          <h2 class="titulo2">Datos</h2>
        </div>

         <fieldset class="marco_principal">
           <p class="etiqueta">Login: </p>
           <h5 class="datos_u">@{usuario.login}</h5>
           <p class="etiqueta">Nombre: </p>
           <h5 class="datos_u">@{usuario.nombre}</h5>
           <p class="etiqueta">Apellidos: </p>
           <h5 class="datos_u">@{usuario.apellidos}</h5>
           <p class="etiqueta">Correo electrónico: </p>
           <h5 class="datos_u">@{usuario.eMail}</h5>
           <p class="etiqueta">Fecha de nacimiento: </p>
           <h5 class="datos_u" id="fechausuario">@usuario.fechaNacimiento.format("dd-MM-yyyy")</h5>

           <div class="botones_inferiores">
             <a class="btn btn-primary" href="@routes.Usuarios.editarUsuario({usuario.id})">Editar</a>
             <a class="btn btn-primary" style="margin-left:16px" href="@routes.Usuarios.listaUsuarios()">Volver</a>
           </div>
         </fieldset>
       </div>
      }

  </body>
}
