@(usuarios: List[Usuario], mensaje: String)
@scripts = {
   <script type="text/javascript">
     function del(urlBorrar) {
       $.ajax({
         url: urlBorrar,
         type: 'DELETE',
         success: function(results) {
           //refresh the page
           location.reload();
         }
       });
     }
  </script>
}
@main("Listado de usuarios", scripts) {
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/listados.css")">
  </head>

  <body>
    <div class="divCabecera">
      <h1>To-do List</h1>
    </div>

    <div class="divContenido">
      <div class="divTituloContenido">
        <h2 class="tituloContenido">Listado de usuarios</h2>
      </div>

      <table class="table table-striped" id="tabla_usuarios">
        <tbody>
            <!--Titulos columnas de la tabla-->
          <tr>
           <th>id</th>
           <th>Login</th>
           <th>Nombre</th>
           <th>Apellidos</th>
           <th>Acción</th>
          </tr>
          <!--Usuarios en filas de la tabla-->
          @for(usuario <- usuarios) {
            <tr>
             <td>@usuario.id</td>
             <td>@usuario.login</td>
             <td>@usuario.nombre</td>
             <td>@usuario.apellidos</td>
             <!--Iconos para ver, editar o eliminar usuario-->
             <td class="iconos_accion">
               <a href="usuarios/@usuario.id" class="iconos_link">
                 <span class="glyphicon glyphicon-eye-open"></span>
               </a>
               <a href="usuarios/@usuario.id/editar" class="iconos_link">
                 <span class="glyphicon glyphicon-pencil"></span>
               </a>
               <a class="iconos_link" onmouseover="" style="cursor: pointer;"
                onclick="del('@routes.Usuarios.borraUsuario(usuario.id)')">
                 <span class="glyphicon glyphicon-trash"></span>
               </a>
             </td>
            </tr>
          }
          <!--Para añadir usuario a la tabla-->
          <tr>
           <td class="iconos_accion">
             <a href="usuarios/nuevo" class="iconos_link">
               <span class="glyphicon glyphicon-plus"></span>
             </a>
           </td>
           <td></td><td></td><td></td><td></td>
          </tr>
        </tbody>
      </table>

      <!--Muestra los mensajes en la página html-->
      @if(mensaje != "") {
       <div class="alert alert-success" id="mensajes"> @mensaje </div>
      }
    </div>
  </body>
}
