@(usuarios: List[Usuario], mensaje: String)
<!--@scripts = {
  <script type="text/javascript">
       function del(urlBorrar) {
         $.ajax({url: urlBorrar, type: 'DELETE',
                 success: function(results) {
                   //refresh the page
                   location.reload();
                 }
         });
       }
  </script>
}-->
<!-- PREGUNTA: Al final no lo usaremos pero, porque no va?-->
@if(mensaje != "") {
  <script type="text/javascript">
    <!--alert("El usuario se ha grabado correctamente");si va-->
    <!--alert(@mensaje);no va, y si lo consigue es undefined porque se carga antes de cargarse la llamada del redirect no?-->
    <!--document.getElementById("mensajes").value = mensaje;-->
  </script>
}
@main("Listado de usuarios", scripts) {
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/listaUsuarios.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
  </head>

  <body>
    <div class="contenidoExterior">
      <h1>Listado de usuarios</h1>
    </div>

    <div class="contenidoInterior">
       <table class="table" id="tabla_usuarios">
        <tbody>
          <tr>
           <th>id</th>
           <th>Login</th>
           <th>Nombre</th>
           <th>Apellidos</th>
           <th>Acción</th>
          </tr>
          @for(usuario <- usuarios) {
            <tr>
             <td class="active">@usuario.id</td>
             <td class="active">@usuario.login</td>
             <td class="active">@usuario.nombre</td>
             <td class="active">@usuario.apellidos</td>
             <td class="active">...</td>
            </tr>
          }
        </tbody>
      </table>
     @if(mensaje != "") {
       <p id="mensajes"> @mensaje </p>
      }
     </div>
  </body>
}

<!--@main("Nuevo Usuario") {
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/formularioNuevoUsuario.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
  </head>

  <body>
    <div class="contenidoExterior">
      <h1>Añadir usuario</h1>
    </div>


    <div class="contenidoInterior">
      <div class="encabezadoTitulo2">
        <h2 class="titulo2">Usuario (nuevo)</h2>
      </div>

      @helper.form(action = routes.Usuarios.grabaNuevoUsuario()) {
         <fieldset class="marco_principal">
           <p class="etiqueta">Login</p>
           <input type="text" name="login" value="" class="datos">
           <p class="datos_avisos" id="login"> Required </p>
           <p class="etiqueta">Nombre</p>
           <input type="text" name="nombre" value="" class="datos">
           <p class="etiqueta">Apellidos</p>
           <input type="text" name="apellidos" value="" class="datos">
           <p class="etiqueta">Correo electrónico</p>
           <input type="text" name="eMail" value="" class="datos">
           <p class="etiqueta">Fecha de nacimiento</p>
           <input type="text" name="fechaNacimiento" value="" class="datos">
           <p class="datos_avisos" id="fechaNacimiento"> Formato (dd-mm-yyyy)</p>

           <div class="botones_inferiores">
             <input type="submit" value="Guardar" class="btn btn-primary">
             <input type="button" value="Cancelar" class="btn btn-primary" onclick="window.open('nuevo')" style="float:right" />
           </div>
         </fieldset>
       }

       @if(mensaje != "") {
         <script type="text/javascript">
            function coloreaRestriccion() {
             //Ponemos en rojo los cuadros con restricciones
             var campologin = document.getElementById('login');
             campologin.style.color = "#FD0505";
             var campofecha = document.getElementById('fechaNacimiento');
             campofecha.style.color = "#FD0505";
            }
            coloreaRestriccion();
          </script>
        }
     </div>
  </body>
}-->
