@(usuarioId: Integer, tareas: List[Tarea], mensaje: String)
@scripts = {
   <script type="text/javascript">
     function del(urlBorrar) {
       $.ajax({
         url: urlBorrar,
         type: 'DELETE',
         success: function(results) {
           //refresh the page
           location.reload();
         }
       });
     }
  </script>
}
@main("Listado de tareas", scripts) {
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/listados.css")">
  </head>

  <body>
    <div class="divCabecera">
      <h1>To-do List</h1>
    </div>

    <div class="divContenido">
      <div class="divTituloContenido">
        <h2 class="tituloContenido">Listado de tareas</h2>
      </div>

      <table class="table table-striped" id="tabla_usuarios">
        <tbody>
          <!--Titulos columnas de la tabla-->
          <tr>
           <th>Id</th>
           <th>Descripcion</th>
           <th>Acción</th>
          </tr>
          <!--Tareas en filas de la tabla las pendientes-->
          @for(tarea <- tareas) {
            @if(tarea.estado=="pendiente") {
              <tr>
                <td>@tarea.id</td>
                <td>@tarea.descripcion</td>
                <!--Iconos para ver, editar o eliminar tarea-->
                <td class="iconos_accion">
                  <a href="@routes.Tareas.editarTarea(usuarioId, tarea.id)" class="iconos_link">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a class="iconos_link" onmouseover="" style="cursor: pointer;"
                   onclick="del('@routes.Tareas.borraTarea(usuarioId, tarea.id)')">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
            }
          }
          <!--Tareas en filas de la tabla las realizadas-->
          @for(tarea <- tareas) {
            @if(tarea.estado=="realizada") {
              <tr>
                <td id='realizada'>@tarea.id</td>
                <td id='realizada'>@tarea.descripcion</td>
                <!--Iconos para ver, editar o eliminar tarea-->
                <td class="iconos_accion">
                  <a href="@routes.Tareas.editarTarea(usuarioId, tarea.id)" class="iconos_link" id='realizada'>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a class="iconos_link" id='realizada' onmouseover="" style="cursor: pointer;"
                   onclick="del('@routes.Tareas.borraTarea(usuarioId, tarea.id)')">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
            }
          }

          <!--Para añadir tareas a la tabla-->
          <tr>
           <td class="iconos_accion">
             <a href="@routes.Tareas.formularioNuevaTarea(usuarioId)" class="iconos_link">
               <span class="glyphicon glyphicon-plus"></span>
             </a>
           </td>
           <td></td><td></td>
          </tr>
        </tbody>
      </table>

    <!--Muestra los mensajes en la página html-->
    @if(mensaje != "") {
     <div class="alert alert-success" id="mensajes"> @mensaje </div>
    }

    </div>
  </body>
}
