@(mensaje: String)
@scripts = {
   <script type="text/javascript">
     function del(urlBorrar) {
       $.ajax({
         url: urlBorrar,
         type: 'DELETE',
         success: function(results) {
           //refresh the page
           location.reload();
         }
       });
     }
  </script>
}
@main("Iniciar sesión", scripts) {
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/loginUsuario.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
  </head>

  <body>
    <div class="contenidoExterior">
      <h1>To-do List</h1>
    </div>

    <div class="contenidoInterior">
      <div class="encabezadoTitulo2">
        <h2 class="titulo2">Iniciar sesión</h2>
      </div>

      <form action="" method="" name="" onsubmit="return validacion()">
        <div class="card signin-card">
         <p class="etiqueta">Login</p>
         <input type="login" name="login" id="login" value="" class="datos" placeholder=" Introduce el login">
         <span role="alert" class="mensaje-error" id="error_login">Es obligatorio rellenar este campo</span>
         <p class="etiqueta">Pasword</p>
         <input type="password" name="password" id="password" value="" class="datos" placeholder=" Introduce tu password">
         <span role="alert" class="mensaje-error" id="error_password">Es obligatorio rellenar este campo</span>

         <div class="botones_inferiores">
           <!--<a class="btn btn-primary" style="cursor: pointer;" id="boton">
             Iniciar sesión
           </a>-->
           <input type="submit" class="btn btn-primary" style="cursor: pointer;" id="boton" value="Iniciar sesión">
         </div>
        </div>
       </form>

         <div class="info">
           <p class="tagline">
             To-do List, tu lista para los que haceres diarios y cada día la de más gente
           </p>
        </div>

         <!--Mostramos restricciones de campos no vacíos-->
         <script type="text/javascript">
            function validacion() {
              //Comprobamos si algun campo está vacio al enviar datos
              var campologin = document.getElementById('login');
              var campopass = document.getElementById('password');
              var errorlogin = document.getElementById('error_login');
              var errorpass = document.getElementById('error_password');
              if(campologin.value == "" && campopass.value == "") {
                errorlogin.style.opacity = "1";
                errorpass.style.opacity = "1";
                return false;
              } else if(campologin.value == "") {
                errorlogin.style.opacity = "1";
                errorpass.style.opacity = "0";
                return false;
              } else if(campopass.value == "") {
                errorlogin.style.opacity = "0";
                errorpass.style.opacity = "1";
                return false;
              } else {
                return true;
              }
            }
        </script>

     </div>
  </body>
}
