@(nombre: String)

@main("Hola") {
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/loginUsuario.css")">
  </head>

  <body>
    <div class="divCabecera">
      <h1>To-do List</h1>
    </div>

    <div class="divContenido" style="height: 513px !important;">
      <div class="divTituloContenido">
        <h2 class="tituloContenido">
          <h1 style="text-align: center; padding-top: 5%;">
            Hola @nombre, bienvenido a
          </h1>
        </h2>
      </div>
      <div class="tituloApp">
        <p>
          To-do List
        </p>
      </div>
    </div>
  </body>
}
