@(nombre: String)

@main("Hola") {
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/loginUsuario.css")">
  </head>

  <body>
    <div class="divEncabezado">
      <div class="contenidoExterior">
        <h1>To-do List</h1>
      </div>
    </div>

    <div class="contenidoInterior" style="height: 512px !important;">
      <div class="encabezadoTitulo2">
        <h2 class="titulo2">
          <h1 style="text-align: center; padding-top: 5%;">
            Hola @nombre, bienvenido a
          </h1>
        </h2>
      </div>
      <div class="tituloApp">
        <p>
          To-do List
        </p>
      </div>
    </div>
  </body>
}
